.gpt3-header {
  display: flex;
}
.gpt3-header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}
.gpt3-header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-transform: capitalize;
}

.gpt3-header-content p {
  font-size: 20p;
  font-family: var(--font-family);
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}
.gpt3-header-content-input {
  width: 100%;
  max-width: 2rem 0 1rem;
  display: flex;
}
.gpt3-header-content-input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  background: var(--color-footer);
  font-size: 20px;
  line-height: 27px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gpt3-header-content-input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  background: #ff4820;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gpt3-header-content-people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}
.gpt3-header-content-people img {
  width: 181px;
  height: 38px;
}
.gpt3-header-content-people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.gpt3-header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3-header-image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1050px) {
  .gpt3-header {
    flex-direction: column;
  }
  .gpt3-header-content {
    margin: 0 0 3rem;
  }
}
@media (max-width: 650px) {
  .gpt3-header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .gpt3-header p {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3-header-content-people {
    flex-direction: column;
  }
  .gpt3-header-content-people p {
    margin: 0;
  }
  .gpt3-header-content-input input,
  .gpt3-header-content-input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 490px) {
  .gpt3-header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .gpt3-header p {
    font-size: 14px;
    line-height: 24px;
  }
  .gpt3-header-content-input input,
  .gpt3-header-content-input button {
    font-size: 12px;
    line-height: 16px;
  }
}
